@import '_colors';
@import '_mixins';

@include font-face(Gilroy-Light, '../fonts/Gilroy-Light');
@include font-face(Gilroy-ExtraBold, '../fonts/Gilroy-ExtraBold');

//
@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}

.custom-radio .custom-control-label::before {
    border: 2px solid $orange-color;
    background: #fff;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background: $orange-color;
}

div.de {
    margin-top: -400px;
}

.custom-control .custom-radio {
    cursor: pointer;
}

//
body {
    background: $bg-color;
}

h1,
h2,
h3,
h4,
span, 
p,
a,
li {
    font-family: 'Gilroy-Light';

    &.bold {
        font-family: 'Gilroy-ExtraBold';
    } 
}

section {
    padding-top: 90px;
}

.icon {
    -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    width: 50px;
    border-radius: 50%;
    height: 50px;
    padding: 10px;
    margin-bottom: 1em;
    background: #fff;
}

.section-title {
    text-align: center;


    .icon {
        -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
        box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
        width: 80px;
        border-radius: 50%;
        height: 80px;
        padding: 15px;
        margin-bottom: 1em;
        background: #fff;
    }
}

.card {
    border-radius: 10px;
    border: 0;
}

#product-carousel {
    &.carousel {
        position: unset;
        width: 100%;
    }

    .carousel-inner {
        position: unset;
        width: unset;
        overflow: unset;

        .carousel-item {
            img {
                margin-top: 15px;
            }
        }
    }
}

.background-wave {
    height: 350px;
    width: 100%;
    background-size: cover;

    &.wave-bottom {
        background-image: url('../img/Layer.png');
    }

    &.wave-top {
        background-image: url('../img/layer-top.png')
    }
    
}


@media (min-width: 1200px) { 
    .container-fluid {
        padding: 0 75px;
    }
}


#main {
    background-color: $orange-color; 

    .intro {

        h1 {
            font-size: 56px;
            line-height: 0.75em;
            position: relative;
            z-index: 1;
        }

        h4 {
            font-size: 22px;
            position: relative;
            z-index: 1;
        }

       

        .circles {
            
            .product-img {
                height: 420px;
                top: 230px; 
                left: 50%; 
                transform: translate(-50%, -50%);


            }
        }

        .circle {
            margin-left: 15px;
            background-color: $bg-color;
            border-radius: 50%;
            position: absolute;
            top: 50%;  
            left: 50%;
            transform: translate(-50%, -50%);
            overflow: hidden;   
            height: 400px;
            width: 400px;
            z-index: 1;
        }

        .circle-2x {
            height: 650px;
            width: 650px;
            opacity: 0.15;
            z-index: 0;
        }

        .circle-3x {
            height: 850px;
            width: 850px;
            opacity: 0.05;
            z-index: 0;
        }


        .controls {
            .carousel-control-next {
                left: 85px;
            }

            .carousel-control-prev, 
            .carousel-control-next {
                top: unset;
                bottom: unset;
                color: #fff;
                opacity: 1;
                width: 45px;

                i {
                    font-size: 42px;
                }
            }
        }

        .more {
            color: $black-color;
            text-decoration: none;
            cursor: pointer;

            p {
                font-size: 22px;
                margin-bottom: 1em;
            }

            i {
                color: #fff;
                font-size: 24px;
            }
        }


        .carousel-indicators { 
            bottom: 0;
            position: unset;
            margin-right: unset;
            margin-left: unset;
            justify-content: unset;
            margin-top: 25px; 

        li {
            height: 75px;
            width: 75px;
            right: 0;
            left: 0;
            margin-right: 3px; 
            margin-left: 3px;
            padding-left: 0;


            background: unset;
            position: unset;
            bottom: unset;
            display: unset;
            justify-content: unset; 
            text-indent: unset;
            
            &.active {

                margin-top: -15px;
                margin-right: 20px;   
            
                span {
                    -webkit-box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
                    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2); 
                    font-size: 32px;  
                    padding: 15px 30px;
                }
            }

            span {
                padding: 10px 20px;
                border-radius: 50%; 
                background: #fff;
                font-size: 24px;
            }
        }
    }
    }
}

.phone {
    text-align: right;

    span {
        display: block;
    }

    span:first-child {
        font-size: 20px;
        font-weight: 600;
    }

    span:last-child {
        font-size: 14px;
    }
}

.navbar {

    a {
        font-family: 'Gilroy-ExtraBold',
    }

    &.main-nav {
        padding-right: 0;
        padding-left: 0;
        
        &.scrolled {
            background: $orange-color;
            box-shadow: 0 1px 5px 0;
            height: 75px;
            animation: slide-down 0.5s;

            .navbar-brand {
                img {height: 55px;}
            }
        }
    }

    // large devices 
    @media (min-width: 1200px) { 
        ul {
            &.navbar-nav {
                margin-left: 25px;
            }
        }
    }


    // extra small (phones)
    @media (max-width: 575.98px) { 
        .logo img {
            height: 75px !important;
        }
     }


    .logo img {
        height: 85px;
    }

    
}


#products {
    margin-top: -320px;
    min-height: 500px;

    .nav {
        max-width: 1200px;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;

        .nav-item {
            list-style: none;
            flex-grow: 1;
            text-align: center;

            .nav-link {
                display: unset;
                
                background: none;
                border: 2px solid $orange-color;
                border-radius: 30px;
                padding: 20px 60px;
                margin: auto;                
                color: $black-color;
                font-size: 20px;

                &.active {
                    background: $orange-color;
                }
            }
        }
    }

    .product-description {
        margin: 30px 0;
    }

    .tab-content {
        max-width: 1200px;
        margin-top: 7rem;
    }

    .product-tabs {
        padding: 0;
        margin-left: -15px;

        li {
            list-style: none;
            display: inline-block;
            margin: 0 15px;
            font-size: 18px;

            &.active {

                span {
                    &::after {
                        content:'';
                        display: block;
                        height: 3px;
                        background: $orange-color;
                    }
                }

            }
        }
    }

    .product-description {
        p  {
            margin-bottom: 0.5rem !important;
        }
    }
}


.factory {
    background: $orange-color;
}

#factory {
    margin-top: -90px;
}


.video-area {
    max-width: 1200px;

    .video-box {
        background: $black-color;
        height: 500px;
        width: 100%;
        border-radius: 20px;
        margin: 20px 0;

        div {
            height: inherit;
            margin-left: 15px;
            padding-bottom: 15px;
        }
    }
}

.part-1 {
    background: $orange-color;
}

.image-slider-area {
    margin-top: -250px;
}

.carousel-control {
    position: absolute;
    right: 50%;
    bottom: 0;
    a {
        opacity: 1;

        &.carousel-control-prev {
            left: -30px;
        }

        &.carousel-control-next {
            left: 30px;
        }
    }
    i {
        color: $black-color;
        font-size:32px;
    }
}

.show-carousel {
    img {
        height: 300px;
        border-radius: 20px;
    }
}

.image-slider-area {
    h2 {
        font-weight: 600;
    }
}

.footer {
    background: $orange-color;
    text-align: center;
}

.equipment {
    margin-top: 75px;

    table {
        width: 100%;

        tr {
            td {
                padding: 5px 0;

                &:first-child {
                    width: 30%
                }
            }
        }
    }
}

#contacts {
    margin-top: 90px; 
    table {
        width: 100%;

        tr {
            td {
                padding: 10px 0;

                &:first-child {
                    width: 30%
                }
            }
        }
    }
}



#excursions {
    margin-top: -90px;

    .part-1 {
        min-height: 750px;
    }
}

footer {
    .nav-link{
        text-transform: uppercase;
        color: $black-color;
    }

    .btn-primary {
        background: none;
        border: 1px solid #000;
        border-radius: 30px;
        color: #000;
        padding: 15px 35px;

        &:hover, {
            background: $black-color;
            border-color: $black-color; 
        }
    }
    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
        background: $black-color;
        border-color: $black-color;
    }

    .modal-content {
        border: none;
        border-radius: 20px;
        .modal-header {
            border-top: none;
        }
        .modal-footer {
            display: unset;
            border-top: none;
        }

        .btn-primary {
            background: $orange-color;
            border: none;
            padding: 15px 35px;
        }

        textarea {
            resize: none;
            border-radius: 20px;
            border: 2px solid #ccc;
        }
        
        input[type="text"] {
            &.form-control {
                border: none;
                border-bottom: 2px solid $orange-color;
                border-radius: 0;
                padding: 15px 0;
               
            }
           
        }

        .form-control {

            &:focus {
                box-shadow: none;
            }
        }
    }
}